:root {
	--color-inssjd1vq: 131, 129, 125;
	--color-i2amofno6: 131, 129, 125;
	--color-ihm93gi1t: 131, 129, 125;
	--color-ibrxhipkx: 131, 129, 125;
	--color-idyzumgag: 131, 129, 125;
	--color-ishd5jtg1: 131, 129, 125;
	--color-izoog8x4x: 131, 129, 125;
	--color-i2109o7pk: 131, 129, 125;
	--color-izs29ub0o: 131, 129, 125;
	--color-ixqnetn83: 131, 129, 125;
	--color-i3vgbnfjz: 131, 129, 125;
	--color-igc6fuw0d: 131, 129, 125;
	--color-isgq3elo6: 131, 129, 125;
	--color-ilwgxj7q1: 131, 129, 125;
	--color-ilkgmj6wr: 131, 129, 125;
	--color-i6riwlv2j: 131, 129, 125;
	--color-iz7bcoaml: 131, 129, 125;
	--color-iwfa0vwb1: 131, 129, 125;
	--color-ii26nd0lb: 131, 129, 125;
	--color-i244wjr4w: 131, 129, 125;
	--color-igy4p6701: 131, 129, 125;
	--color-i61fj9c1q: 131, 129, 125;
	--color-igelxy2tf: 131, 129, 125;
	--color-i67ixztyh: 131, 129, 125;
	--color-iumhv5hut: 131, 129, 125;
	--color-immamiu8u: 131, 129, 125;
	--color-iswydqfzp: 131, 129, 125;
	--color-ix20ks9lp: 131, 129, 125;
	--color-irogu8j4w: 131, 129, 125;
	--color-i1jl2arjd: 131, 129, 125;
	--color-i6mwalhta: 131, 129, 125;
	--color-i8hq5ij2s: 131, 129, 125;
	--color-iueww2c0p: 131, 129, 125;
	--color-il7qexv58: 131, 129, 125;
	--color-ik0hi2t1g: 131, 129, 125;
	--color-ige46blu6: 131, 129, 125;
	--color-iw2w4rhca: 131, 129, 125;
	--color-i1goycdwy: 131, 129, 125;
	--color-i9fu01qfl: 131, 129, 125;
	--color-is7jrhc3c: 131, 129, 125;
	--color-igwk2jl3l: 131, 129, 125;
	--color-i74pjzspn: 131, 129, 125;
	--color-ih1rsmaxa: 131, 129, 125;
	--color-iheg8upjo: 131, 129, 125;
	--color-ia2yjcvwi: 131, 129, 125;
	--color-iug5jg1w3: 131, 129, 125;
	--color-ivazky204: 131, 129, 125;
	--color-ian38q0b3: 240, 244, 240;
	--color-iqcu6owca: 240, 244, 240;
	--color-im0bugevz: 240, 244, 240;
	--color-iljdwg9mq: 109, 107, 103;
	--color-ivf6er68g: 109, 107, 103;
	--color-ieaf535us: 109, 107, 103;
	--color-ib2lsu641: 255, 255, 255;
	--color-i6vbja4ix: 109, 107, 103;
	--color-ig2lome4i: 109, 107, 103;
	--color-iu6pau8bc: 109, 107, 103;
	--color-i4ycgvbvy: 109, 107, 103;
}

